<%= div_for dish do %>  
<h3>    
	<%= link_to dish.title, dish %>    
	<% if dish.owned_by? current_user %>
		<span class='actions'>      
			<%= link_to "Edit", edit_dish_path(dish) %>     
			<%= link_to "Delete", dish, :confirm => "Are you sure?", :method => :delete %>
		</span>  
	<% end %>
</h3>  
<div id="dishes">
<%= dish.category1%>, <%= dish.category2 %>, <%= dish.category3 %> <br/>
Ingredients: <%= simple_format dish.ingredients %> 
Cooking Duration (min): <%= dish.duration %> <br/>

<% if dish.avatar.exists? then %>
	<p><%= image_tag dish.avatar.url(:medium) %> </p>
<% else %>
	<p> There are no photo's attached, upload one. </p>
<% end %>

</div>
<% end %>

